<h1>Welcome to the Battle Game </h1>
<h3>Please sign in your namse: </h3>
<form action="/names" method="post">
  <input placeholder="Player 1 Name" type="text" name="player1">
  <input placeholder="Player 2 Name" type="text" name="player2">
  <input type="submit" value="Go">
</form>